In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [10]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
inside

[1, 2, 3, 1, 2, 3]

In [13]:
zip(outside,inside)

In [14]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [16]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [17]:
df

             A         B
G1 1 -1.490990  0.257808
   2 -0.298811  1.363616
   3 -0.407631 -0.122882
G2 1  0.066594  0.379510
   2 -1.210691 -0.403986
   3 -1.240478  0.970389

In [18]:
df.loc['G1']

          A         B
1 -1.490990  0.257808
2 -0.298811  1.363616
3 -0.407631 -0.122882

In [19]:
df.loc['G1'].loc[1]

A   -1.490990
B    0.257808
Name: 1, dtype: float64

In [21]:
df.index.names
# no name assigned to index till now

FrozenList([None, None])

In [23]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -1.490990  0.257808
       2   -0.298811  1.363616
       3   -0.407631 -0.122882
G2     1    0.066594  0.379510
       2   -1.210691 -0.403986
       3   -1.240478  0.970389

In [25]:
df.loc['G2'].loc[2]['B']

-0.4039860110982203

In [29]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.490990  0.257808
G2      0.066594  0.379510