In [7]:
pwd #location of jupyter notebook

'C:\\Users\\Priya\\Desktop\\learnpy'

In [2]:
import pandas as pd
pd.read_csv('example.csv')

       Item    Cost     Sold  Profit
0  Keyboard  $10.00   $16.00   $6.00
1   Monitor  $80.00  $120.00  $40.00
2     Mouse   $5.00    $7.00   $2.00
3       NaN     NaN    Total  $48.00

In [3]:
df = pd.read_csv('example.csv')
df

       Item    Cost     Sold  Profit
0  Keyboard  $10.00   $16.00   $6.00
1   Monitor  $80.00  $120.00  $40.00
2     Mouse   $5.00    $7.00   $2.00
3       NaN     NaN    Total  $48.00

In [4]:
#index saved as a col
df.to_csv('My_output')

In [5]:
pd.read_csv('My_output')

   Unnamed: 0      Item    Cost     Sold  Profit
0           0  Keyboard  $10.00   $16.00   $6.00
1           1   Monitor  $80.00  $120.00  $40.00
2           2     Mouse   $5.00    $7.00   $2.00
3           3       NaN     NaN    Total  $48.00

In [7]:
#index = false to avoid index saved as a col
df.to_csv('My_output',index=False)

In [8]:
pd.read_csv('My_output')

       Item    Cost     Sold  Profit
0  Keyboard  $10.00   $16.00   $6.00
1   Monitor  $80.00  $120.00  $40.00
2     Mouse   $5.00    $7.00   $2.00
3       NaN     NaN    Total  $48.00