In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d= {'a':10,'b':20,'c':30}

In [9]:
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [8]:
print(my_data)

[10, 20, 30]

In [10]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(labels,my_data)

10    a
20    b
30    c
dtype: object

In [17]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],['India','USA','Germany','USSR'])
print(ser1)

India      1
USA        2
Germany    3
USSR       4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,5,4],['India','USA','UAE','USSR'])
print(ser2)

India    1
USA      2
UAE      5
USSR     4
dtype: int64

In [33]:
# getting data using index
print(ser1['India'])
print(ser1['USSR'])
print(ser1[0])
print(ser1[2])

SyntaxError: invalid syntax (<ipython-input-33-66a461ced8d2>, line 1)

In [34]:
ser3 = pd.Series(labels)
ser3[0]

'a'

In [38]:
ser1

India      1
USA        2
Germany    3
USSR       4
dtype: int64

In [39]:
ser2

India    1
USA      2
UAE      5
USSR     4
dtype: int64

In [41]:
ser1+ser2

Germany    NaN
India      2.0
UAE        NaN
USA        4.0
USSR       8.0
dtype: float64